@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --primary-color: #B5C5B9;
    --secondary-color: #49585D;
    --accent-color: ##758193;
    --text-primary: #050605;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #050605;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    font-style: normal;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    min-height: 400px;
    min-width: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
}

.calculator-input-container {
    height: 40px;
    width: 100%;
    border-radius: 6px;
}

.calculator-input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: inherit;
    background-color: var(--primary-color);
}

.btn {
    border: none;
    font-size: 2rem;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--text-primary);
    font-weight: 600;
}

.calculator-buttons-container {
    flex: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}